{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Отримання електронного ключа</title>
</head>

<body style="background-color:#e6ebe6">
  <div class="jumbotron">
    <div class="container" style="border: 3px solid rgb(255, 55, 10); background-color: #969696; padding: 10px;">
      <div clas="page-header">
        <h2 class="text-center">Увага!</h2>
        <p>
        <pre>     На цьому етапі реєстрації Вам буде наданий особистий електронний ключ, з допомогою якого Ви зможете увійти в систему. 
           Завантажити ключ Ви можете з цієї сторінки. При втраті ключа Ви не зможете увійти систему.</pre>
        </p>
      </div>
      <hr>
      <div class="container mt-5">
        <h2>Файл можете підвантажити тут...</h2>
        
          
      <a href="/addFile1">Завантажити Дані</a>
      <a href="/LogIn">Увійти в особистий кабінет</a>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
